<section class="section-about">
    <div class="container">
        <h2 class="about-title_second">tradition and love</h2>
        <h1 class="about-title_main">how it’s made?</h1>
        <div class="about-content">
            <div class="about-img_content">
                <img class="about-img" alt="Фото">
                <!-- srcset="img/cow/img_279.jpg 279w"
                    sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 480px) 279px"
                    src="./img/cow/img_490.jpg"  -->

            </div>
            <div class="about-text">
                <p class="about-text_first">
                    Ice is a place where you will become not only a little happier, but also healthier. Health
                    is
                    the main value for us, and we follow it when creating our handmade desserts.
                </p>
                <p class="about-text_second">
                    We use traditional recipes and 100% natural ingredients. Our products are so natural that
                    they
                    can be given to children from the age of three years. Sweets lovers can expect 55 types of
                    ice
                    cream, 15 types of coffee
                    and 23 milkshakes.
                </p>
                <p class="about-text_thirt">
                    This is enough to choose ice cream and coffee for any mood!
                </p>
                <button class="about-button">Read more<span class="about-button_symbol">></span></button>
            </div>
        </div>
    </div>
</section>