<!-- Слайдер-->
<section>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./images/icecream1.jpg" width="1013" height="422" alt="img" />
      </div>
      <div class="swiper-slide">
        <img src="./images/icecream2.jpg" width="1013" height="422" alt="img" />
      </div>
      <div class="swiper-slide">
        <img src="./images/icecream3.jpg" width="1013" height="422" alt="img" />
      </div>
    </div>
    <!-- Пагинация - "..." -->
    <div class="swiper-pagination"></div>
  </div>
</section>
